[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-railscast-theme"]
	path = bundle/vim-railscast-theme
	url = https://github.com/jpo/vim-railscasts-theme.git
[submodule "bundle/vim-easytags"]
	path = bundle/vim-easytags
	url = git://github.com/spf13/vim-easytags.git
